@{
    ViewBag.Title = "修改客户信息";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@model SomnusLogistic.Model.Customer
@section Head{
    <style type="text/css">
        #EditCustomerForm
        {
            width: 470px;
        }
    </style>
}
@section Navigation{
    @RenderPage("~/Views/Shared/NavigationPartial.cshtml", new { control = "customer" })
}
@section NavigationItems{
    @RenderPage("~/Views/Shared/NavigationItemPartial.cshtml", new { control = "customer", action = "edit" })
}
@using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { id = "EditCustomerForm", @class = "cmxform" }))
{
    <fieldset>
        <legend>修改用户信息</legend>
        @Html.ValidationSummary()
        @Html.HiddenFor(c => c.CustomerID)
        @Html.HiddenFor(c => c.UserID)
        @Html.HiddenFor(c => c.IsDelete)
        @Html.HiddenFor(c => c.CreateDate)
        <p>
            <span class="red">*</span>
            @Html.LabelFor(c => c.OperDepartmentID)
            @Html.DropDownList("OperDepartmentID", "请选择归属作业部")
        </p>
        <p>
            <span class="red">*</span>
            <label>
                客户名称
            </label>
            @Html.EditorFor(c => c.CustomerName)
        </p>
        <p>
            <span class="red">*</span>
            <label>
                到站
            </label>
            @Html.EditorFor(c => c.Station)
        </p>
        <p>
            <span class="red">*</span>
            <label>
                收货单位
            </label>
            @Html.EditorFor(c => c.CargoUnit)
        </p>
        <p>
            <span class="red">*</span>
            <label>
                联系人
            </label>
            @Html.EditorFor(c => c.Linkman)
        </p>
        <p>
            <span class="red">*</span>
            <label>
                联系人手机
            </label>
            @Html.EditorFor(c => c.LinkPhone)
        </p>
        <p>
            <label>
                固定电话
            </label>
            @Html.EditorFor(c => c.Fphone)
        </p>
        <p>
            <label>
                <span class="red">*</span> 邮寄地址
            </label>
            @Html.EditorFor(c => c.Address)
        </p>
        <p>
            <label>
                备注
            </label>
            @Html.EditorFor(c => c.Memo)
        </p>
        <p>
            <input type="submit" class="submit" value="确定" />
            <input type="button" class="cursor" id="btnReturn" value="返回" />
        </p>
    </fieldset>
}
@section Script{
    <script type="text/javascript">
        $(function () {
            $("#CreateForm").validate({
                rules: {
                    CustomerName: "required",
                    Station: "required",
                    CargoUnit: "required",
                    Address: "required",
                    Linkman: "required",
                    LinkPhone: {
                        required: true,
                        telphoneValid: true,
                        rangelength: [11, 11]
                    },
                    OperDepartmentID: {
                        OperDepartmentValid: true
                    }
                },
                messages: {
                    CustomerName: "客户名称不能为空",
                    Station: "到站不能为空",
                    CargoUnit: "收货单位不能为空",
                    Address: "邮寄地址不能为空",
                    Linkman: "联系人不能为空",
                    LinkPhone: {
                        required: "联系人手机不能为空"
                    }
                }
            });
        });
    </script>
}
